body { 
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
    background: #000729;
    margin: 0%;
}


header{
    background-color: #060420;
    font-weight: 700;
    gap: 7.2rem;
    position: fixed;
    z-index: 9;
    top: 0;
    display: flex;
  align-items: center;
  justify-content: center;
}

p{
    color: aliceblue;
} 
li{
  transition: 100ms linear;
  background-color: #162153;
    padding: 10px;
    list-style-type: none;
    border-radius: 20px;
}
li:hover{
  background-color: #214D9E;
  border-radius: 30px;
  transform: scale(1.2);
  cursor: pointer;
}
.conteiner{
    width: min(112rem, 100%);
    padding: 1px 3.2rem;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home{
    margin-left: 20px;
    height: 50px;
    transition: 100ms linear;
}
.home:hover{
    transform: scale(1.5);
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}
.lupa {
    height: 22px;
    position: relative;
    top: -32px;
    left: 280px;
    transition: 250ms linear;
  }
header,
nav,
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  font-weight: 700;
  font-family: 'Holtwood One SC';
  font-size: 15px;
  -webkit-text-stroke-color: #214D9E;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 5px;
  color: aliceblue;


}
.input-wrapper input {
    margin-top: 35px;
    border-bottom-width: 5px;
    border-radius: 100px;
    border-bottom-color: #214D9E;
    font-size: 25px;
    padding-left: 10px;
}
.input-wrapper:hover{
  .lupa{
    transform: scalex(-1.0);
  }
}
h1{
  display: flex;
  align-items: center;
position: absolute;
width: 912px;
height: 131px;
left: 600px;
top: 150px;
font-family: 'Holtwood One SC';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 163px;
text-align: center;
letter-spacing: 0.2em;
color: #5269E2;
-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.fundoh1{
  display: flex;
  align-items: center;
    position: absolute;
    left: 575px;
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 163px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #090909;
    mix-blend-mode: overlay;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
h2{
font-family: 'Holtwood One SC';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 163px;
text-align: center;
letter-spacing: 0.2em;
color: #5269E2;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  margin-top: 300px;
  margin-bottom: 1px;
}
a {
  -webkit-text-stroke-color: #214D9E;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 5px;
  color: aliceblue;
} 
.comidas{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 120px;
}
.comidas2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.img{
  height: 300px;
  width: 180px;
  object-fit: cover;
  border-radius: 20px;
  transition: ease-in-out 300ms;
}
.img:hover{
  border-radius: 30px;
}
.img2{
  margin-top: 30px;
  height: 300px;
  width: 180px;
  object-fit: cover;
  border-radius: 20px;
  transition: ease-in-out 300ms;
}
.img2:hover{
  border-radius: 30px;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container:hover .sub {
  opacity: 1;
}

.sub {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  background: linear-gradient(180deg, #214D9E 0%, #010e50 40%);
  transition: opacity 0.3s ease;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  height: 90px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 180px;
  max-width: 300px;
}
.img-container:hover .sub2{
  opacity: 1;
}
.sub2 {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  background: linear-gradient(180deg, #214D9E 0%, #010e50 40%);
  transition: opacity 0.3s ease;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  height: 90px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 180px;
  padding-bottom: 20px;
  max-width: 300px;
}